extends layout

block content
    nav#top-nav
        
    div#content
        div.note
            div.close
            div.tuding
            div.content
        
            
    script(src='js/main.js')
