html,
body {
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000000;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  background: url(/img/bed29d3fabf0ad87d640530b41b3e6a6.png);
  background-size: cover;
}
#content {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  height: calc(70%);
}
#top-nav .login {
  color: #000000;
  float: right;
  cursor: pointer;
  margin-right: 20px;
  font-family: 'Shadows Into Light Two', cursive;
  font-weight: bold;
  font-size: 30px;
  margin-top: 5px;
}
#top-nav i {
  font-size: 35px;
  line-height: 40px;
  vertical-align: sub;
}
.logo {
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 39px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8), 2px 2px rgba(140, 140, 140, 0.8), 3px 3px rgba(128, 128, 128, 0.8), 4px 4px rgba(169, 169, 169, 0.8), 5px 5px rgba(121, 121, 121, 0.8), 6px 6px rgba(160, 160, 160, 0.8);
  font-weight: bold;
  margin-left: 20px;
  float: left;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
.note-add {
  cursor: pointer;
}
.new-note {
  display: inline-block;
  font-size: 80px;
  position: fixed;
  bottom: 30px;
  right: 40px;
  color: #fff;
  cursor: pointer;
}
.new-note i {
  display: block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.new-note:hover i {
  -webkit-animation: roll 0.5s linear 1;
  animation: roll 0.5s linear 1;
}
@-webkit-keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transfrom: rotate(180deg);
  }
}
@keyframes roll {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transfrom: rotate(180deg);
  }
}
.user {
  float: right;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 26px;
  font-weight: bold;
  margin-right: 20px;
}
.user img {
  width: 40px;
  margin-top: 8px;
  margin-right: 8px;
  border-radius: 50%;
}
.user span,
.user a {
  vertical-align: super;
}
.user span:nth-child(3) {
  cursor: pointer;
}
.note {
  position: absolute;
  width: 300px;
  min-height: 200px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 51px;
  background-color: #fa4;
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4), 0px 0px 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.4), 0px 0px 40px rgba(0, 0, 0, 0.1) inset;
  margin: 10px;
  -webkit-transition: all 0.4s ;
  transition: all 0.4s ;
}
.note::before,
.note::after {
  content: "";
  position: absolute;
  background: transparent;
  bottom: 13px;
  width: 90%;
  height: 80%;
  z-index: -1;
  -webkit-box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.7);
}
.note::before {
  right: 20px;
  -webkit-transform: skew(10deg) rotate(4deg);
  transform: skew(10deg) rotate(4deg);
}
.note::after {
  left: 20px;
  -webkit-transform: skew(-10deg) rotate(-4deg);
  transform: skew(-10deg) rotate(-4deg);
}
.tuding {
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -5px;
  border: 5px solid #f33c3ff2;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}
.tuding::before {
  content: '';
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  left: 0;
  top: -2px;
}
.tuding::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #962121;
  left: 0;
  top: 0px;
}
.close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  display: none;
}
.content {
  outline: none;
  min-height: 200px;
}
.draggable {
  opacity: 0.7;
  cursor: move;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.time {
  font-size: 20px;
  position: absolute;
  bottom: 8px;
  right: 8px;
}
.totas {
  font-family: 'Shadows Into Light Two', cursive;
  position: fixed;
  display: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 50px;
  color: #d15a39;
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
  padding: 6px 15px;
  background-color: #fff;
  border-radius: 3px;
  font-weight: bold;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJjc3MvaW5kZXguY3NzIiwic291cmNlUm9vdCI6IiJ9*/