html,body{
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url(../img/bg2.png) no-repeat;
    background-size: cover;
}
#content {
    position: relative;
    height: -webkit-calc(100% - 30px);
    height: calc(100% - 30px);
}