@font-face{
 font-family: 'Shadows Into Light Two';
 src:url('../img/ShadowsIntoLightTwo-Regular.ttf'),
 url('../img/shadowsintolighttwo-regular-webfont.woff')
}
html,
body{
    height: 100%;
    margin:0;
}
a {
text-decoration:none;
color:rgb(0, 0, 0);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url(../img/bg2.jpg);
    background-size: cover;
}
#content {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    height: -webkit-calc(100% - 30px);
    height: calc(100% - 30px)
}
#top-nav {
    .login{
        color:rgb(0, 0, 0);
        float:right;
        cursor: pointer;
        margin-right: 20px;
        font-family: 'Shadows Into Light Two', cursive;
        font-weight: bold;
        font-size:30px;
        margin-top:5px;
    }
    i{  font-size: 35px;
        line-height: 40px;
        vertical-align: sub;
        }
}
.logo{
    font-family: 'Shadows Into Light Two', cursive;
    font-size:39px;
    text-shadow:1px 1px rgba(0, 0, 0, 0.8), 2px 2px rgba(140, 140, 140, 0.8), 3px 3px rgba(128, 128, 128, 0.8), 4px 4px rgba(169, 169, 169, 0.8), 5px 5px rgba(121, 121, 121, 0.8), 6px 6px rgba(160, 160, 160, 0.8);
    font-weight:bold;
    margin-left:20px;
    float:left;

}
.clearfix::after{
    content:'';
    display: block;
    clear:both;
}
.note-add {
    cursor: pointer;
}
.new-note {
    display: inline-block;
    font-size:80px;
    position: fixed;
    bottom:30px;
    right:40px;
    color:#fff;
    cursor: pointer;
        i{
            display: block;
            transform: rotate(180deg);
        }
    &:hover i{
        animation: roll 0.5s linear 1;
    }
}
@keyframes roll {
    0%{
      transform: rotate(0deg);
    }
    100%{
        transfrom:rotate(180deg);
    }
}
.user {
    float: right;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 26px;
    font-weight: bold;
    margin-right: 20px;
    img{
        width: 40px;
        margin-top:8px;
        margin-right:8px;
        border-radius: 50%;
    }
    span,a{
        vertical-align: super;
    }
}
.user span:nth-child(3){
    cursor:pointer;
}