@font-face{
    font-family: 'Shadows Into Light Two';
    src:url('../img/ShadowsIntoLightTwo-Regular.ttf'),
    url('../img/shadowsintolighttwo-regular-webfont.woff')
   }
.totas {
    font-family: 'Shadows Into Light Two', cursive;
    position: fixed;
    display: none;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    color: #d15a39;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
    padding: 6px 15px;
    background-color: #fff;
    border-radius: 3px;
    font-weight: bold;
}